.app-body{
	margin-top: 100px;
}
@import 'navbar';


body{
	// background-color: rgb(140, 191, 227)
	background-image: url("../images/background.jpg");
	// background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	height:70px;
	width:70px;
}
.navbar-header{
	color: darkred;
	font-size: 48px;
	font-family: "Courier New";
}
li{
	font-size:18px;
}
.product-pic{
	height:100px;
	width:100px;
}
.cartbar{
	padding-top: 10px;
	text-align: center;
	li{
		margin-top: 10px;
		margin-left: 30px;
	}
}
.Contact{
	h1{
		font-size: 80px;
	}
	h2{
		font-size: 26px;
	}
	p1{
		font-size: 24px;
	}
	text-align: center;
	font-size: 80px;
	color: darkred;
	margin-top: 100px;
}
.Contact-Location{
	color: darkred;
	text-align: center;
}
.Product-Row{
	font-size: 18px;
	font-family: Lucida Console;
}
.products{
	font-size: 16px;
}
.description{
	font-size: 24px;
}
.comments{
	font-style: italic;
}
.About{
	h1{
		font-size: 40px;
		text-align: center;
		color: darkred;
	}
	p1{
		font-size: 30px;
		text-align: center;
		color: darkred;
	}
	margin-top: 100px;
}
.Home{
	h1{
		font-size: 40px;
		color: darkred;
		text-align: center;
	}
}
.product-page{
	margin-top: 100px;
	h1{
		font-size: 40px;
		text-align: center;
		color: darkred;
	}
	p{
		font-size: 30px;
		text-align: center;
		color: darkred;
	}
}
@media(max-width:767px){
	.cartbar{
		padding-top: 0px;
		margin-top: 0px;
		li{
			margin-left: 0px;
		}
	}
	.About{
		margin-top: 250px !important;
	}
	.Contact{
		margin-top: 250px !important;
		h1{
			font-size: 44px;
		}
		p1{
			font-size: 20px;
		}
	}
	.Contact-Location{
		h1{
			font-size: 40px;
		}
	}
	.product-page{
		margin-top: 250px !important;
	}
	.navbar-header{
		text-align: center;
	}
	.slick-image{
	max-height: 500px !important;
	max-width: 100vw;
}

}
.dropdown{
	z-index: 1;
	padding: 0px;
	margin: 0px;
	ul{
		a{
			background-image: url('../images/nav-background.jpg');
		}
	}
	li{
		a{
			background-image: url('../images/nav-background.jpg');
		}
	}
	a{
		background-image: url('../images/nav-background.jpg');
	}
}
.navbar-default{
	background-image: url('../images/nav-background.jpg');
	border-top: 3px dotted #000;
	border-bottom: 3px dotted #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
	border-color: red;
}
.navbar-white{
	background-image: url('../images/nav-background.jpg');
	a:hover{
		background-image: url('../images/nav-background-2.jpg');
	}
	a:focus{
		background-image: url('../images/nav-background-2.jpg');
	}
	color: darkred;
}
.slick-image{
	max-height: 550px;
	max-width: 100vw;	
}
