.app-body{
	margin-top: 100px;
}
@import 'navbar';


body{
	background-color: rgb(140, 191, 227)
}

img{
	width: 1920px;
	height: 1000px;
}

.logo{
	height:70px;
	width:70px;
}
.navbar-header{
	color: red;
	font-size: 48px;
	font-family: "Courier New";
}
li{
	font-size:18px;
}
.product-pic{
	height:100px;
	width:100px;
}
.cartbar{
	padding-top: 10px;
}
.Contact{
	h1{
		font-size: 80px;
	}
	h2{
		font-size: 26px;
	}
	p1{
		font-size: 24px;
	}
	text-align: center;
	font-size: 80px;
	color: darkred;
}
.Contact-Location{
	color: darkred;
	text-align: center;
}
.Product-Row{
	font-size: 18px;
	font-family: Lucida Console;
}
.products{
	font-size: 16px;
}
.description{
	font-size: 24px;
}
.comments{
	font-style: italic;
}
.About{
	h1{
		font-size: 40px;
		text-align: center;
		color: darkred;
	}
	p1{
		font-size: 30px;
		text-align: center;
		color: darkred;
	}
}
.Home{
	h1{
		font-size: 40px;
		color: darkred;
		text-align: center;
	}
}
.product-page{
	h1{
		font-size: 40px;
		text-align: center;
		color: darkred;
	}
	p{
		font-size: 30px;
		text-align: center;
		color: darkred;
	}
}
@media(max-width:767px){
	overflow: hidden;
	.nav{
		li{
		padding: none;	
		display: inline-block;
			a{
				padding: none;
				display: inline-block;
			}
		}
	}
}